<h1><%=@visit.event_name%></h1>
<h3>at <%=@brewery_obj.name%></h3>
<h3>on <%=@visit.visit_date%></h3>

<div><%=button_to 'Edit this visit', edit_visit_path(@visit), method: :get %></div>
<div><%=button_to 'Delete this visit', visit_path(@visit), method: :delete %></div>
<div><%= button_to "Return to your Brew Queue", user_path(session[:user_id]), method: :get %><div>
<br />
<h1>------Your Comments------</h1>
<%= form_for @new_comment do |f| %>
  <%= f.text_area :comment , style: 'float: left; width: 100%; display: flex'%>
  <%= f.hidden_field :visit_id, :value => @visit.id %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.submit "Add New Comment"%>
<%end%>
<table>
<tbody>
    <th style='width: 75%'>Comment</th>
    <th>Date</th>
  <%@visit_comments.each do |comment| %>
  <tr>
    <td style="text-align: left"><%= comment.comment%></td>
    <td><%= comment.created_at.strftime("%m-%d-%Y") %></td>
  </tr>
  <%  end %>
</tbody>

<br />
<br />
<br />