<h1><%=@visit.event_name%></h1>
<br />
<h3>at <%=@brewery_obj.name%></h3>
<h3>on <%=@visit.visit_date%></h3>

<div><%=button_to 'Edit', edit_visit_path(@visit), method: :get %></div>
<div><%=button_to 'Delete', visit_path(@visit), method: :delete %></div>
<div><%=button_to "Add Comment", new_comment_path, method: :get, params: { visit_id_for_action: @visit.id}  %>
<div><%= button_to "Return to your Brew Queue", user_path(session[:user_id]), method: :get %><div>

<table>
<tbody>
    <th>Comment</th>
    <th>Date</th>
  <%@visit_comments.each do |comment| %>
  <tr>
    <td><%= comment.comment%></td>
    <td><%= comment.created_at.strftime("%m-%d-%Y") %></td>
  </tr>
  <%  end %>
</tbody>

<br />
<br />
<br />

