<h1>Visit Show Page </h1>
<h3>Name: <%=@visit.event_name%>
<h3>Date: <%=@visit.visit_date%>
<h3>Brew Queue ID: <%=@visit.user_brew_queue_id%>

<div><%=button_to 'Edit', edit_visit_path(@visit), method: :get %></div>
<div><%=button_to 'Delete', visit_path(@visit), method: :delete %></div>
<div><%=button_to "Add Comment", new_comment_path, method: :get, params: { visit_id_for_action: @visit.id}  %>

<table>
<tbody>
    <th>Date</th>
    <th>Comment</th>
  <%@visit_comments.each do |comment| %>
  <tr>
    <td><%= comment.created_at %></td>
    <td><%= comment.comment%></td>
  </tr>
  <%  end %>
</tbody>

