<h2>New User Form</h2>

<%  if flash[:message] %>
  <%=  flash[:message] %>
<% end %>
<br />

<%= form_for(@user) do |f|%>
    <label>First Name:<label>
    <%= f.text_field :first_name%><br>

    <label>Last Name:<label>
    <%= f.text_field :last_name%><br>

    <label>Street:<label>
    <%= f.text_field :street%><br>

    <label>City:<label>
    <%= f.text_field :city%><br>

    <label>State:<label>
    <%= f.text_field :state%><br>

    <label>Postal Code:<label>
    <%= f.text_field :postal_code%><br>

    <label>Age:<label>
    <%= f.text_field :age%><br>

    <label>Email Address:<label>
    <%= f.text_field :email_address%><br>

    <label>Password:<label>
    <%= f.password_field :password%><br>
<br />
<%=f.submit%>
<br />
<%end%>
