<h1> <%=@user.first_name + " " + @user.last_name%> </h1>
<h3>Street: <%=@user.street%></h3>
<h3>City: <%=@user.city%></h3>
<h3>State: <%=@user.state%></h3>
<h3>Postal Code: <%=@user.postal_code%></h3>
<h3>Age: <%=@user.age%></h3>
<h3>E-mail Address: <%=@user.email_address%></h3>

<%= button_to 'Edit', edit_user_path(@user), method: :get%>
<%= button_to 'Delete', user_path(@user), method: :delete%>
<%= button_to 'Sign Out', logout_path(@session), method: :delete%>



<h2>----------Search For Breweries--------</h2>

<%= form_tag(user_path(@user.id), method: :get) do   %>
 Name: <%= text_field_tag(:search_name, params[:search_name]) %><br />
 City: <%= text_field_tag(:search_city, params[:search_city]) %><br />
 State: <%= select_tag :search_state, options_from_collection_for_select(@states, :to_s, :to_s), { :include_blank => true } %><br />
  <%= submit_tag "Search" %> <% %>
<% end %>

<% if @search_result_brewery_objs %>
  <% @search_result_brewery_objs.each do |res| %>
    <%= link_to res.name, brewery_path(res.id) %>, <%= res.city %>, <%= res.state%>, <%= button_to "Add to your Brew Queue!", user_path(@user.id), method: :get, params: { brewery_to_add: res.id } %><br />
  <% end %>
<% end %>