<h1> <%=@user.first_name + " " + @user.last_name%> </h1>
<h3>Street: <%=@user.street%></h3>
<h3>City: <%=@user.city%></h3>
<h3>State: <%=@user.state%></h3>
<h3>Postal Code: <%=@user.postal_code%></h3>
<h3>Age: <%=@user.age%></h3>
<h3>E-mail Address: <%=@user.email_address%></h3>

<%= button_to 'Edit', edit_user_path(@user), method: :get%>
<%= button_to 'Delete', user_path(@user), method: :delete%>
<%= button_to 'Sign Out', logout_path(@session), method: :delete%>




