<h1>Show page for <%= @brewery.name %></h1>

<p>Brewery type: <%= @brewery.brewery_type %></p>
<p>Brewery Address: <%= @brewery.street %>, <%= @brewery.city %>, <%= @brewery.state%> <%=@brewery.postal_code %> </p>

<p>Phone: <%= @brewery.phone %></p>
<p>Website: <%= link_to @brewery.website_url, @brewery.website_url, target: :_blank %></p>


<%= button_to "Edit this brewery", edit_brewery_path(@brewery.id), method: :get %>
<%= button_to "Delete this brewery", "/breweries/#{@brewery.id}", method: :delete %>
<%= button_to "Show all breweries", breweries_path, method: :get %>



