<h1><%= @brewery.name %></h1>

<div class="brewery_info">
<p>Brewery type: <%= @brewery.brewery_type %></p>
<p>Brewery Address: <%= @brewery.street %>, <%= @brewery.city %>, <%= @brewery.state%> <%=@brewery.postal_code %> </p>
<p>Phone: <%= @brewery.phone %></p>
<p>Website: <%= link_to @brewery.website_url, @brewery.website_url, target: :_blank %></p>
</div>

<br>

<% if @brewqueue_id == "" %>
  <%= button_to "Add to your Brew Queue!", "/user_brew_queues", method: :post, params: { breweryid_for_action: @brewery.id, userid_for_action: session[:user_id] } %>
<% else %>
  <%= button_to "Remove from your Brew Queue!", "/user_brew_queues", method: :delete, params: { breweryid_for_action: @brewery.id, userid_for_action: session[:user_id] } %>
  <%= button_to "Add Visit", new_visit_path, method: :get, params: { brew_queue_id_for_action: @brewqueue_id }  %>
<% end %>
<%= button_to "Return to your Brew Queue", user_path(session[:user_id]), method: :get %><br />

<!-- The following lines should only work for ADMINISTRATORS
<%= button_to "Edit this brewery", edit_brewery_path(@brewery.id), method: :get %>
<%= button_to "Delete this brewery", "/breweries/#{@brewery.id}", method: :delete %>
<%= button_to "Show all breweries", breweries_path, method: :get %>
-->

<!-- This HTML will load a google MAP with of the brewery's location  -->
<% if @brewqueue_id == "" %>
  <div id="google_map">
    <% if @brewery.street != "" && @brewery.street.exclude?("PO Box") && @brewery.city != "" && @brewery.state != "" %>
      <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="375" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=@brewery.street%>%2C<%=@brewery.city%>%2C<%=@brewery.state%>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>
    <% elsif @brewery.longitude != "" && @brewery.longitude != "" %>
      <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="375" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=@brewery.latitude%>%2C<%=@brewery.longitude%>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>/div></div>
    <% elsif @brewery.city != "" && @brewery.state != "" %>
      <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="375" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=@brewery.city%>%2C<%=@brewery.state%>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>
    <% end %>
  </div>
<% end %>


<br />
<h2>Your Visits</h2>
  <% if @brewqueue_id == "" %>
    <%= button_to "Add Visit", new_visit_path, method: :get, params: { breweryid_for_action: @brewery.id, userid_for_action: session[:user_id], brew_queue_id_for_action: @brewqueue_id}  %>
  <% end %>
  <% if @brewqueue_id != "" %>
    <%= button_to "Add Visit", new_visit_path, method: :get, params: { brew_queue_id_for_action: @brewqueue_id }  %>
  <% end %>
  </br>

<table>
<tbody>
    <th>Event Name</th>
    <th>Date</th>
    <th>Comments</th>
  <% if @bq_visit_objs.length== 0%>
    <tr><td></td><td></td><td></td></tr>
  <% end %> 
  <%@bq_visit_objs.each do |bqv| %>
  <tr>
    <td><%=link_to bqv.event_name, visit_path(bqv.id) %></td>
    <td><%=bqv.visit_date%></td>
    <td><%=link_to bqv.comments.count, visit_path(bqv.id) %></td>
  </tr>
  <%  end %>
</tbody>
</table>
<br />
<br />


<h2>All User Comments</h2>

<table>
  <tbody>
      <th>Comment</th>
      <th>Date</th>
      <th>User</th>
    <%@brewery_comments_obj_arr.each do |comment| %>
    <tr>
      <td><%= comment.comment%></td>
      <td><%= comment.created_at.strftime("%m-%d-%Y") %></td>
      <td><%=comment.user.first_name%>
    </tr>
    <%  end %>
  </tbody>
</table>

<br />

<h2>Map</h2>
<% if @brewqueue_id != "" %>
  <div id="google_map">
    <% if @brewery.street != "" && @brewery.street.exclude?("PO Box") && @brewery.city != "" && @brewery.state != "" %>
      <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="375" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=@brewery.street%>%2C<%=@brewery.city%>%2C<%=@brewery.state%>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"></a></div></div>
    <% elsif @brewery.longitude != "" && @brewery.longitude != "" %>
      <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="375" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=@brewery.latitude%>%2C<%=@brewery.longitude%>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"></a></div></div>
    <% elsif @brewery.city != "" && @brewery.state != "" %>
      <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="375" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=@brewery.city%>%2C<%=@brewery.state%>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"></a></div></div>
    <% end %>
  </div>
<% end %>


<br />
<br />




