<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BrewQueue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="../assets/javascripts/script.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBhiA3gxx9nHL1j--Tzn5LGRp-NpKah4Q&callback=initMap"
    ></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
   <header>
      <%=  image_tag("sampler_cups.jpg", size: "500x129")%>
      <div>
      <nav class="horizontal" id="topLinks">
          <% if session[:user_id]%>
            <p id="UserName">Welcome Back, <%= link_to User.find(session[:user_id]).first_name, user_path(session[:user_id])%></p>
          <% end %>
         <ul>
         <% if session[:user_id]%>
            <li><%= link_to 'Edit your account', edit_user_path(session[:user_id]), method: :get%></li>
            <li></li>
            <li><%= link_to 'Sign Out', logout_path, method: :delete%></li>
         <% else %>
            <li></li>
            <li></li>
            <li><%= link_to "Sign Up", signup_path, method: :get %></li>
            <li></li>
            <li><%= link_to "Login", login_path, method: :get %></li>
         <% end %>
         </ul>
      </nav>
      </div>
   </header>
  <body>
    <%= yield %>
  </body>
</html>
